page-registroprincipal {

h6{
    
      font-family: 'Comfortaa';
}
	 .content-md {
    
    //background:#bbcacd;
    //background: url(http://estokealo.com:8000/static/registro.jpg) no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
}


	    .app-icon{
        font-size:50px;
        color: #000;
      
        text-align: center;
        min-height: 180px;
    }


    ion-item{

          padding: 1px;
    margin: 44px;
    margin-left: 0;

      
    }

    label{

            font-family: 'Comfortaa';
                font-size: 13px;
    }


    
.item-block{

        border-radius: 5px;
}
  
}
