page-detalleservicio {


	 .content-md {
    color: #000;
    background-color: #afbbbe !important;
    //background: url(http://estokealo.com:8000/static/WhatsApp_Image_2018-01-04_at_16.34.38_1.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.scroll-content{

	margin-top:37px !important;
}

}
