

<ion-slides autoplay="2000"  speed="4000" pager paginationType='bullets'>


  <ion-slide ng-click='iradetalle(1)'>

    <img src="{{host}}{{photo1}}" alt="">
  </ion-slide>

  <ion-slide ng-click='iradetalle(2)'>
    <img src="{{host}}{{photo2}}" alt="">
  </ion-slide>


  <ion-slide ng-click='iradetalle(3)'>
    <img src="{{host}}{{photo3}}" alt="">
  </ion-slide>

  <ion-slide ng-click='iradetalle(4)'>
    <img src="{{host}}{{photo4}}" alt="">
  </ion-slide>



  
</ion-slides >


<ion-slides effect='fade' autoplay="2000"  speed="3000" style='margin-top: -2px;'>


  <ion-slide>

    <a href='{{link5}}'>
    <img src="{{host}}{{photo5}}" alt="">
    </a>

  </ion-slide>
  <ion-slide>

    <a href='{{link6}}'>
    <img src="{{host}}{{photo6}}" alt="">
    </a>

  </ion-slide>
  <ion-slide>
    <a href='{{link7}}'>
    <img src="{{host}}{{photo7}}" alt="">
    </a>
  </ion-slide>

  <ion-slide>
    <a href="{{link8}}">
    <img src="{{host}}{{photo8}}" alt="">
    </a>
  </ion-slide>


  
</ion-slides>