 <ion-menu  [content]="content"  >
 
  


  <ion-toolbar color='dark'>
    <ion-title >Menu  </ion-title>




    

  </ion-toolbar>
 
  <ion-content  color='dark' >



    <ion-list *ngIf="logeado==false" style='padding-top:20px;'>


 



       <button ion-item (click)="loginModal()">
        Ingresar
      </button> 


   
  

      <button ion-item *ngFor="let p of pagesnologeado" (click)="openPage(p)">
        {{p.title}}
      </button>

       <button ion-item (click)="sacasexo()">
        Escoge tu género 
      </button>
    </ion-list>

  
    <ion-list *ngIf="logeado==true" style='padding-top:20px;'>

    
      
      <button ion-item>
        
    </button>
   
  
      
      
       <button ion-item *ngFor="let p of pageslogeado" (click)="openPage(p)">
        {{p.title}}
      </button>



       <button ion-item (click)="sacasexo()">
        Escoge tu género 
      </button> 

      




      <a ion-item style='
    text-decoration: none;' href="https://api.whatsapp.com/send?phone=51910759370&text=Hola"> Contáctenos <ion-icon name="logo-whatsapp" style='color: #25d366;float:right;'></ion-icon></a>

    <a ion-item style='text-decoration: none;' href="tel:+910759370"> Llamanos <ion-icon name="call" style='color: #000;float:right;'></ion-icon></a>

<button  ion-item (click)="salir()">
        Salir
      </button>

    </ion-list>


    

   

      


  


  </ion-content>
 
</ion-menu>

<ion-nav   id="nav" [root]="xxxPage" #content swipe-back-enabled="false"></ion-nav>
 
