page-registro {


.text-input-md {
    font-family: 'Didact Gothic';

}


.alert-top{
    padding: 0 !important;
    align-items: center !important;
}

.fixed44 {

    bottom: 0px;
    
    position: fixed;
    right: 0;
    z-index: 50;
    margin-left: -54px;
    width: 100%;
    font-family: 'Didact Gothic', sans-serif;
 
}

	 .content-md {
    //color: #000;
      //background: url(/assets/fondo.png) no-repeat center !important;
      //background: #feab2c;
    //background: url(http://estokealo.com:8000/static/registro.jpg) no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
}


	    .app-icon{
        font-size:50px;
        color: #000;
      
        text-align: center;
        min-height: 180px;
    }

     label{

           
            font-family: 'Comfortaa';
            font-size: 13px;
    }

    .reportar{

        color:#000;
            font-family: 'Comfortaa';

    }

     ion-row{

    
    font-family: 'Comfortaa', sans-serif;
   
}

   
.item-block{

        border-radius: 5px;
}


.item-md{
    background: none;
}

}



