page-aviso {


	.content-md {
    color: #000;
    background-color: #222;
    //background: url(http://estokealo.com:8000/static/login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


}
